extends layout

block content
  #rootwizard
    .my-nav
      ul
        li
          a(href="#tab1", data-toggle="tab") Headline
        li
          a(href="#tab2", data-toggle="tab") Opening
        li  
          a(href="#tab3", data-toggle="tab") FAB
        li  
          a(href="#tab4", data-toggle="tab") Offer
        li  
          a(href="#tab5", data-toggle="tab") Info
    form#msform(action="/", method="POST", role="form").tab-content
      fieldset#tab1.tab-pane
        h2.fs-title Headline
        h3.fs-subtitle How do you capture someone's attention?
        textarea(type="text", rows="2", name="headline", maxlength="140", autofocus, placeholder="This shouldn't be longer than a tweet")
      fieldset#tab2.tab-pane
        h2.fs-title Opening
        h3.fs-subtitle Problem and Solution
        textarea(type="text", rows="4", name="problem", placeholder="What is your customer's problem?")
        textarea(type="text", rows="4", name="solution", placeholder="How do you solve their problem?")
      fieldset#tab3.tab-pane
        h2.fs-title Features and Benefits
        h3.fs-subtitle List your product's features and benefits
        #fab
          input(type="text", name="f1", placeholder="Feature #1 e.g. '54W 4 Cell Battery'").fab
          input(type="text", name="b1", placeholder="Benefit #1 e.g. 'All day battery life'").fab
        #fab
          input(type="text", name="f2", placeholder="Feature #2").fab
          input(type="text", name="b2", placeholder="Benefit #2").fab
        #fab
          input(type="text", name="f2", placeholder="Feature #3").fab
          input(type="text", name="b2", placeholder="Benefit #3").fab
        #fab
          input(type="text", name="f2", placeholder="Feature #4").fab
          input(type="text", name="b2", placeholder="Benefit #4").fab
        #fab
          input(type="text", name="f2", placeholder="Feature #5").fab
          input(type="text", name="b2", placeholder="Benefit #5").fab
      fieldset#tab4.tab-pane
        h2.fs-title Offer
        h3.fs-subtitle What does your customer get when they buy your product?
        textarea(type="text", rows="4", name="offer", placeholder="What's in the box?")
      fieldset#tab5.tab-pane
        .row
          .col-md-12
            .fs-title Information
        .row
          .col-md-2
            label Name
          .col-md-5
            input(type="text", name="firstname", placeholder="First Name")
          .col-md-5
            input(type="text", name="lastname", placeholder="Last Name")
        .row
          .col-md-2
            label URL
          .col-md-10
            input(type="text", name="url", placeholder="e.g. www.amazingidea.com")
        .row  
          .col-md-2
            label Email
          .col-md-10
            input(type="text", name="email", placeholder="e.g. me@amazingidea.com")
        .row
          .col-md-12
            button(type="submit").btn.btn-lg.action-button Turn my words into sweet sweet copy!
      ul.pager.wizard
        li.previous.first(style="display:none;")
          a(href="#") First
        li.previous
          a(href="#") Prev
        li.next.last(style="display:none;")
          a(href="#") Last
        li.next
          a(href="#") Next
      // fieldset
    //   h2.fs-title Final touches
    //   h3.fs-desc Do you have a deadline for your customer?
    //   input(type="text", name="urgency", placeholder="e.g. Expires in 72hrs")
    //   h3.fs-desc Is there a limited supply of your product?
    //   input(type="text", name="scarcity", placeholder="e.g. Only 7 left!")
    //   h3.fs-desc Is there a bonus for signing up?
    //   input(type="text", name="bonus", placeholder="e.g. Free guide for signing up today!")