doctype html
html
  head
    title Copylibs for Entrepreneurs
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/prettify.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    
  body
    block content
  footer
    script(src='https://code.jquery.com/jquery-2.1.4.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
    script(src='javascripts/jquery.bootstrap.wizard.js')
    script(src='javascripts/myapp.js')
