extends layout

block content
  form#successform
    fieldset
      h2.fs-title Thank you #{name}!
      h3.fs-subtitle Derek and Vivek are carefully reviewing your words and will be in touch with you soon.